* {
  padding: 0;
  margin: 0;
}

body {
  padding-bottom: 160px;
  font-family: 'Noto Sans KR', sans-serif;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.title {
  color: white;
  background-color: rgb(56, 56, 78);
  text-align: center;
  padding: 16px;
}

.signup-title {
  text-align: center;
  color: rgb(56, 56, 78);
  padding: 16px;
}

h3 {
  color: rgb(241, 241, 241);
}

.latest-news {
  text-align: center;
  padding-bottom: 32px;
  color: rgb(56, 56, 78);
}

.second-line {
  background-color: rgb(56, 56, 78);
  height: 2px;
  border: none;
}

.box-1 {
  border-bottom: 4px solid rgb(56, 56, 78);
  margin-bottom: 3px;
  padding: 16px;
}

.box-2 {
  background-color: rgb(81, 179, 146);
  padding: 16px;
  border-bottom: 2px solid rgb(56, 56, 78);
}

.box-3 {
  padding: 16px;
  background-color: #AE4C6D;
}

form {
  padding-bottom: 32px;
}

h2 {
  padding: 16px 0 16px 0;
}

fieldset {
  margin-top: 32px;
  border: none;
}

legend {
  font-size: 28px;
  background-color: rgb(56, 56, 78);
  padding: 4px;
  color: rgb(241, 241, 241);
  border-radius: 5px;
}

.label {
  margin: 16px 0px;
}

.input,
select,
textarea {
  background-color: rgb(241, 241, 241);
  border-radius: 5px;
  border: none;
  padding: 12px 20px;
  width: 100%;
  margin: 16px 0;
  box-sizing: border-box;
}

#zip-code {
  width: 50%;
  display: block;
}

input:focus,
select:focus,
textarea:focus {
  box-shadow: 4px 4px 20px -1px rgb(56, 56, 78);
  transition-duration: 1s;
  transition-property: background;
  background: rgb(56, 56, 78);
  color: white;
}

button {
  margin: 0 0 32px 0;
  padding: 24px 0;
  text-align: center;
  color: white;
  background-color: rgb(81, 179, 146);
  border-radius: 5px;
  border: none;
  width: 100%;
  font-size: 20px;
  cursor: pointer;
}

p {
  color: rgb(241, 241, 241);
  font-style: italic;
  text-align: center;
  font-weight: 600;
}

.checks,
.radio-buttons {
  margin: 16px 0;
}

@media (min-width: 768px) {
  .container {
    width: 40%;
  }

  .flex {
    display: grid;
    grid-template-columns: 1fr 3fr;
    justify-content: space-between;
  }

  #zip-code {
    width: 33%;
  }

  label {
    padding: 8px 0;
  }

}